/* ==========================================================================
   Tailwindcss
   ========================================================================== */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==========================================================================
   Fonts
   ========================================================================== */

@layer base {
  @font-face {
    font-family: "Aspekta";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Aspekta-400.woff2");
  }

  @font-face {
    font-family: "Aspekta";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/Aspekta-500.woff2");
  }

  @font-face {
    font-family: "Aspekta";
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/Aspekta-600.woff2");
  }

  @font-face {
    font-family: "Aspekta";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/Aspekta-700.woff2");
  }
}

/* ==========================================================================
   Customizations
   ========================================================================== */

html,
body,
#__next {
  width: 100%;
  height: 100%;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
#__next::-webkit-scrollbar {
  display: none;
}

img.lazyload:not([src]) {
  visibility: hidden;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* clears the 'X' from Internet Explorer */
input.hide-clear[type="search"]::-ms-clear,
input.hide-clear[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input.hide-clear[type="search"]::-webkit-search-decoration,
input.hide-clear[type="search"]::-webkit-search-cancel-button,
input.hide-clear[type="search"]::-webkit-search-results-button,
input.hide-clear[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Other browsers */
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.custom-shadow {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

iframe {
  max-width: 100%;
}
